<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- footer -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="/css/styles_register.css">
    <script src="/js/script.js" defer></script>
    <!-- DESPUES PASARLO A CSS -->
    <style>
        .errorMessage{
            display: none;
        }
        .displayOk{
            display:block;
            color: orange
        }
    </style>
    <%-include("partials/head") %>
    <title>Registro</title>
</head>

<body>

    <!-- header -->
    <%-include("partials/header") %>
    <!-- <div id="header">
        <div class="logo">
            <img src="/images/logo.png">
        </div>
        <nav>
            
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Nosotros</a>
                    <ul class="mega-dropdown">
                        <li class="row">
                            <ul class="mega-col">
                                <li><a href="#">Sobre Animalandia</a></li>
                                <li><a href="#">Blog</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Login</a>
                    <ul>
                        <li><a href="#">Registrarse</a></li>
                        <li><a href="#">Iniciar Sesión</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Tienda</a>
                </li>
            </ul>
        </nav>
    </div> -->

    <main> 
    <main> 

        <div class="formulario">
        
            <h1>Registro de usuario nuevo</h1>

            <form action="/usuarios/registro" method="post" class="flex flex-wrap w-100 flex-dir-col h-a register" enctype="multipart/form-data" id="form-register">

                <div class="flex flex-wrap w-50 jcl h-a">
                    <label for="username" class="fs-16"> Nombre de usuario</label>
                    <p class="flex f-direction-col flex-wrap w-80 mg-x-auto h-a">
                        <input type="text" name="username" id="username" class="w-100 fs-16 fc-darkgrey h-a" placeholder="Ingrese nombre de usuario" value="<%= locals.old && old.username %>">
                        <% if (locals.errors && errors.username) { %>
                            <%= errors.username.msg %>
                        <% } %>
                    </p>
                    <span class="errorMessage" id="usernameError"></span>
                </div>
                
                <div class="flex  flex-wrap w-50 jcl">
                    <label for="email" class="fs-16"> E-mail</label>
                    <p class="flex f-direction-col flex-wrap w-80 mg-x-auto">
                      <input type="text" name="email" id="email" class="w-100 fs-16 fc-darkgrey" placeholder="Ingrese su email" value="<%= locals.old && old.email %>">
                    <% if (locals.errors && errors.email) { %>
                        <%= errors.email.msg %>
                    <% } %>  
                    </p>
                    <span class="errorMessage" id="emailError"></span>
                </div>

                <div class="flex  flex-wrap w-50 jcl">
                    <label for="password" class="fs-16"> Contraseña</label>
                    <p class="flex f-direction-col flex-wrap w-80 mg-x-auto">
                       <input type="password" name="password" id="password" class="w-100 fs-16 fc-grey" placeholder="Ingrese contraseña" value="<%= locals.old && old.password %>">
                        <% if (locals.errors && errors.password) { %>
                            <%= errors.password.msg %>
                        <% } %> 
                    </p>
                    <span class="errorMessage" id="passwordError"></span>
                </div>

                <div class="flex  flex-wrap w-50 jcl">
                    <label for="name" class="fs-16"> Nombre y apellido</label>
                    <p class="flex f-direction-col flex-wrap w-80 mg-x-auto">
                      <input type="text" name="name" id="name" class="w-100 fs-1 fc-darkgrey" placeholder="Ingrese nombre y apellido" value="<%= locals.old && old.namesurname %>">
                        <% if (locals.errors && errors.name) { %>
                            <%= errors.name.msg %>
                        <% } %>  
                    </p>
                    <span class="errorMessage" id="nameError"></span>
                </div>
                
                <div class="flex  flex-wrap w-50 jcl">
                    <label for="dni" class="fs-16"> DNI</label>
                    <p class="flex f-direction-col flex-wrap w-80 mg-x-auto">
                      <input type="number" name="dni" id="dni" class="w-100 fs-1 fc-darkgrey" placeholder="Ingrese DNI" value="<%= locals.old && old.dni %>">
                        <% if (locals.errors && errors.dni) { %>
                            <%= errors.dni.msg %>
                        <% } %>  
                    </p>
                    <span class="errorMessage" id="dniError"></span>
                </div>

                <div class="flex  flex-wrap w-50 jcl">
                    <label for="home" class="fs-16"> Domicilio</label>
                    <p class="flex f-direction-col flex-wrap w-80 mg-x-auto">
                        <input type="text" name="home" id="home" class="w-100 fs-1 fc-darkgrey" placeholder="Ingrese domicilio" value="<%= locals.old && old.home %>">
                    <% if (locals.errors && errors.home) { %>
                        <%= errors.home.msg %>
                    <% } %>
                    </p>
                    <span class="errorMessage" id="homeError"></span>
                </div>
                
                <div class="flex  flex-wrap w-50 jcl">
                    <label for="phone_number" class="fs-16"> Teléfono</label>
                    <p class="flex f-direction-col flex-wrap w-80 mg-x-auto">
                       <input type="tel" name="phone_number" id="phone_number" class="w-100 fs-1 fc-darkgrey" placeholder="Ingrese numero telefonico" value="<%= locals.old && old.phone %>">
                    <% if (locals.errors && errors.phone_number) { %>
                        <%= errors.phone_number.msg %>
                    <% } %> 
                    </p>
                    <span class="errorMessage" id="phone_numberError"></span>
                </div>

                
                <div class="image">
                    <label for="image">Imagen:</label>
                    <p class="flex f-direction-col flex-wrap w-80 mg-x-auto">
                       <input type="file" id="image" name="image" value="<%= locals.old && old.image %>"> 
                    <% if (locals.errors && errors.image) { %>
                        <%= errors.image.msg %>
                    <% } %> 
                    </p>
                    <span class="errorMessage" id="imageError"></span>
                </div>

                <div class="flex f-ss fw-400">
                    <input type="submit" class="fw-400 p-1 fs-16 bcg-darkgrey mr-1 border-radius w-50 ml-1">
                    
                    <input type="checkbox" name="recuerdame" id="recuerdame"> <span
                        class="fw-400 f-ss fs-12 p-1 justify-center my-auto">
                        Recuerdame</span>
                </div>
                <!-- <a href="#">Olvidaste tu contraseña</a> -->

                </form>

        </div>

    </main>




    <!-- footer -->
    <%-include("partials/footer") %>
    <!-- <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6"> -->
                        <!--Column1-->
                        <!-- <div class="footer-pad">
                            <h4>Nosotros</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Sobre Animalandia</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Trabaja con Nosotros</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6"> -->
                        <!--Column1-->
                        <!-- <div class="footer-pad">
                            <h4>Servicios</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Veterinaria</a></li>
                                <li><a href="#">Peluqueria</a></li>
                                <li><a href="#">Microchips</a></li>
                                <li><a href="#">Adopciones</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6"> -->
                        <!--Column1-->
                        <!-- <div class="footer-pad">
                            <h4>Contacto</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Atención Teléfonico: Numero</a></li>
                                <li><a href="#">Atención Whatsapp: Numero</a></li>
                                <li><a href="#">Lunes a Sábados de 9 a 21 hs, Domingos de 10 a 20 hs</a></li>

                                <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Síguenos</h4>
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 copy">
                        <p class="text-center">&copy; Copyright 2023 - Animalandia. Todos los Derechos Reservados.</p>
                    </div>
                </div>


            </div>
        </div>
    </footer> -->

</body>

</html>