<div class="col-12 col-sm-6 col-lg-3">
    <section class="product-box">
        <a href="/productos/<%= product.id %>">
            <figure class="product-box_image">
                <img src="/images/products/<%= product.image%>" alt="imagen de producto <%= product.name %>">
            </figure>
            <article class="product-box_data">
                <h2><%= product.name%></h2>
                <p><%= product.price %></p>
            </article>
        </a>
        <p><%= product.weight %></p>
        <p><%= product.taste %></p>
        <p><%= product.category %></p>
        <p><%= product.description %></p>
        <p><%= product.age %></p>

    </section>
</div>
